doctype html 
html 
    head 
        title=title
    body 
        include ./header.pug
        h1=message
        p.greeting Greating from #{greating}
        img(src="images/avatar.png",alt="Avatar Image")
        include ./footer.pug
        