doctype html 
html 
    head 
        title=title
    body 
        include ./header.pug
        form(action="/users/createuser", method="post") 
            input(type="text", name="name",placeholder="Enter UserName")
            br
            input(type="email", name="email",placeholder="Enter Email")
            br
            input(type="password", name="password",placeholder="Enter Password")
            br
            input(type="text",name="phone_number",placeholder="Enter Phone Number")
            br
            button(type="submit") Submit
       
        include ./footer.pug
        